*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: content;
    src: url(./content.woff2);
}
@font-face {
    font-family: title;
    src: url(./title.woff2);
}
#main{
    background-color: aliceblue;
    font-family:  title;
    color: #d11f1f;
    position: relative;
    overflow: hidden;
}
#nav_slider_responsive{
    position: absolute;
    opacity: 0;
    z-index: 9999;
    top: 5%;
    width: 100%;
    height: 50vh;
    background-color: #8c7a7a;
}
#nav{
    color: #d11f1f;
    font-family:  title;
    width: 100%;
    height: 20vh;
    position: fixed;
    z-index: 999999999;
    /* background-color: #d6d6d6; */
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
    z-index: 99;
}
#nav #h6{
    opacity: 0;
    position: absolute;
}
#nav h5{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.5vw;
}
#nav h3{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.5vw;
}

#n2 {
    /* background-color: yellowgreen; */
    width: 10%;
    
}
#n2 svg{
    opacity: .7;
    z-index: 99999999999;
}
#lupo h1{
    font-family:bebas neue;
    color:black;
    letter-spacing: .5vw;
    font-size: 3vw;
    /* font-weight: 900; */
    /* margin-left: .3vw; */
    /* background-color: red; */
}
#page1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #d6d6d6;
}
#page1 h1{
    position: absolute;
    top: 25%;
    left: 17%;
    font-size: 14vw;
    font-weight: 400;
    font-style: italic;
    line-height: 14vw;
    text-align: center;
    transform: rotate(-5deg);
}
#page1 svg{
    position: absolute;
    opacity: .8;
    height: 19vw;
}
#page1 svg:nth-child(2){
    top: 17%;
    left: 70%;
    height: 32vw;
    transform: rotate(-13deg);
}
#page1 svg:nth-child(3){
    top: 73%;
    left: 13%;
    height: 15vw;
    z-index: 999;
    /* transform: rotate(-13deg); */
}
#page1 p{
    position: absolute;
    font-family:  content;
    opacity: .7;
    font-size: .1vw;
    left: 40%;
    text-align: center;
    font-weight: 100;
    font-size: 1vw;
    color: black;
    top: 90%;
    list-style: -1vw;
}
/* ------------------page2----------------------- */
#page2{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #d6d6d6;
}
.img-box{
    position: absolute;
    height: 45vh;
    width: 31vw;
    border: .6vw solid #ffffff;
    overflow: hidden;
    display: flex;
    opacity: 1;
}
.img-box>img{
    object-fit: cover;
}
#slideUp{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: blue; */
    top:-50%;
    /* opacity: 0; */
    z-index: 9;
}
#breads-up{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: rgb(0, 221, 255); */
    /* opacity: 0; */
    z-index: 9;
    transition: all ease .8s;
}
#paws-up{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: rgb(0, 221, 255); */
    /* opacity: 0; */
    transition: all ease .8s;
}
#pz-up{
    position: absolute;
    height: 50vh;
    width: 100%;
    transition: all ease .8s;
    /* background-color: rgb(0, 221, 255); */
    /* opacity: 0; */
    z-index: 9;
}
.up-l{
    top: -22%;
    left: -1;
    transform: rotate(-11deg);
    opacity: 1;
}
#paw1{
    transform: rotate(8deg);
}
#paw2{
    transform: rotate(-8deg);
}
#paw3{
    top:-20%;
    left: 68.5%;
    transform: rotate(4deg);
}
.up-b{
    top:-35%;
    left: 35%;
    opacity: 1;
    transform: rotate(11deg);
}
.up-r{
    top:-22%;
    left: 70%;
    opacity: 1;
    transform: rotate(11deg);
}
#slideDown{
    position: absolute;
    height: 50vh;
    top:100%;
    width: 100%;
    z-index: 9;
    /* background-color: rgb(255, 0, 255); */
    /* opacity: 0; */
}
#breads-down{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    /* opacity: 0; */
    transition: all ease .8s;
}
#paw-down{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: rgb(0, 255, 195); */
    /* opacity: 0; */
    transition: all ease .8s;
}
#paw4{
    transform: rotate(-5deg);
}
#paw5{
    transform: rotate(-19deg);
}
#paw6{
    transform: rotate(21deg);
}
#pz-down{
    position: absolute;
    height: 50vh;
    width: 100%;
    /* background-color: rgb(251, 255, 0); */
    /* opacity: 0; */
    transition: all ease .8s;
}
.down-l{
    top: 26%;
    left: -1;
    transform: rotate(5deg);
    opacity: 1;
}
.down-b{
    top: 43%;
    left: 35%;
    transform: rotate(-5deg);
    opacity: 1;
}
.down-r{
    top: 25%;
    left: 71%;
    transform: rotate(5deg);
    opacity: 1;
}
#page2 h4{
    position: absolute;
    font-size: 1.5vw;
    font-weight: 400;
    top: 10%;
    left: 47%;
}
#page2 .txt{
    position: absolute;
    font-size: 9vw;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    -webkit-text-stroke: 2px #d11f1f;
}
#page2 h1{
    top:11%;
    left: 31%;
    -webkit-text-stroke: 1.5px #d11f1f;
}
#page2 h2{
    top:31%;
    left: 35%;
    -webkit-text-stroke: 1.5px #d11f1f;
}
#page2 h3{
    top:51%;
    left: 36%;
    -webkit-text-stroke: 1.5px #d11f1f;
}





#page2 svg{
    position: absolute;
    opacity: .8;
    height: 30vw;
}
#sv1{
    top: 19%;
    left:86%;
    transform: rotate(-13deg);
}
#sv2{
    top: 19%;
    left:-7%;
    transform: scaleX(-1);
}
#sv3{
    top: 56%;
    left:22%;
    scale: .29;
    transform: rotate(-5deg);
    opacity: 1;
}
#page2 h5{
    color: #cecece;
    position: absolute;
    top: 83.5%;
    left: 47%;
    font-size: 1.8vw;
    font-weight: 400;
    font-style: italic;
    transform: rotate(-5deg);
}
/* --------------------page3---------------------------------- */
#page3{
    position: relative;
    height: 140vh;
    width: 100%;
    background-color: #d6d6d6;
}
#page3 h1{
    position: absolute;
    font-size: 9vw;
    font-weight: 400;
    text-align: center;
    line-height: 8vw;
    top: 10%;
    left: 30%;
}
#page3 p{
    position: absolute;
    font-family:  content;
    opacity: .7;
    font-size: .1vw;
    left: 35%;
    text-align: center;
    font-weight: 100;
    font-size: 1vw;
    color: black;
    top: 39%;
    line-height: 1.2vw;
    list-style: -1vw;
    /* background-color: red; */
    width: 30%;
    text-transform: uppercase;
}
#page3 :nth-child(4){
    /* background-color: blue; */
    top: 47%;
}
#skel{
    position: absolute;
    height: 35vh;
    opacity: .8;
    transform: scaleX(-1);
    top: 8%;
    left: 68%;

}
#cheers{
    height: 12vh;
    position: absolute;
}
#svg2pg2{
    position: absolute;
    top: 26%;
    left:2%;
    scale: .17;
    transform: rotate(5deg);
    opacity: .9;
}
#page3 h5{
    color: #cecece;
    position: absolute;
    top: 60.5%;
    left: 47%;
    font-size: 1.8vw;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    transform: rotate(5deg);
}
#cheers{
    position: absolute;
    top: 75%;
    left:38%;
    height: 32vh;
    opacity: .8;
}
/* ------------------page4---------------------- */
#page4{
    position: relative;
    height: 180vh;
    width: 100%;
    background-color: #d6d6d6;
}
#page4 h1{
    position: absolute;
    top: 1%;
    left: 23%;
    font-size: 14vw;
    font-weight: 400;
    font-style: italic;
    line-height: 14vw;
    text-align: center;
    transform: rotate(-5deg);
}
#page4 p{
    position: absolute;
    font-family:  content;
    opacity: .7;
    font-size: .1vw;
    left: 35%;
    text-align: center;
    font-weight: 100;
    font-size: 1vw;
    color: black;
    top:45%;
    line-height: 1.2vw;
    list-style: -1vw;
    /* background-color: red; */
    width: 30%;
    text-transform: uppercase;
}
#page4 :nth-child(3){
    /* background-color: blue; */
    top: 37%;
}
#sv-l{
    position: absolute;
    top: 23%;
    left:-12%;
    scale: .14;
    transform: rotate(-15deg);
    opacity: .9;
}
#sv-r{
    position: absolute;
    top: 30%;
    border-radius: 2vw solid #d6d6d6;
    left:12%;
    scale: .18;
    transform: rotate(5deg);
    opacity: 1;
}
#svg-l-w{
    color: #d6d6d6;
    position: absolute;
    top: 54.7%;
    left: 41%;
    font-size: 1.8vw;
    font-weight: 400;
    font-style: italic;
    transform: rotate(-15deg);
}
#svg-r-w{
    color: #d6d6d6;
    position: absolute;
    top: 54.7%;
    left: 53.5%;
    font-size: 1.8vw;
    font-weight: 400;
    font-style: italic;
    transform: rotate(5deg);
}
#bus{
    position: absolute;
    height: 12vw;
    top: 60%;
    left: 21%;
    transform: rotate(-5deg);
}
#page4 h2{
    position: absolute;
    top: 65%;
    left: 39%;
    font-size: 10vw;
    font-weight: 400;
    line-height: 9vw;
    text-align: center;
}
#subscribe{
    position: absolute;
    height: 8vw;
    top: 81%;
    left: 59%;
    transform: rotate(-15deg);
}
#hand-posture{
    position: absolute;
    height: 3.5vw;
    top: 84%;
    z-index: 99;
    left: 61%;
    fill: #d6d6d6;
}
#subs-w{
    color: #cecece;
    position: absolute;
    top: 84%;
    line-height: 1.3vw;
    left: 65%;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    transform: rotate(-15deg);
}
#page4 .pp{
    position: absolute;
    font-size: 1vw;
    z-index: 999;
    top: 90%;
    font-size: .9vw;
}
/* -----------------------page5---------------------------------- */
#page5 {
    width: 100%;
    height: 175vh;
    position: relative;
    background-color: #de2020;
}
#last-eff{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 65vh;
    background-color: #d6d6d6;
    overflow: hidden;
}
#still-bar{
    display: flex;
    width: 100%;
    height: 25vh;
    /* background-color: skyblue; */
    justify-content: space-between;
    padding: 0 4vw;
}
.w{
    /* background-color: yellow; */
    font-size: 14vw;
    font-weight: 400;
    line-height: 14vw;
    text-align: center;
    padding-bottom: 4vw;
    cursor: pointer;
    transition: all 0.8s ease ;
    -webkit-text-stroke: 2px #d11f1f;
}
#para{
    position: absolute;
    display: flex;
    top: 50%;
    width: 100%;
    height: 5vh;
    /* background-color: skyblue; */
    justify-content: space-between;
    padding: 0 4vw;
}
#last-eff p{
    font-family:  content;
    opacity: .7;
    font-size: .1vw;
    left: 35%;
    text-align: center;
    font-weight: 100;
    font-size: .9vw;
    color: black;
    top:45%;
    line-height: 1.2vw;
    list-style: -1vw;
    width: 25%;
    text-transform: uppercase;
}
#para :nth-child(1){
    padding-left: 4vw;
}
#para :nth-child(2){
    padding-left: 14vw;
}
#para :nth-child(3){
    padding-right: 6vw;
}


.im{
    position: absolute;
}
#img-1{
    left: 7%;
    top: 110%;
    transform: rotate(5deg);
}
#img-2{
    left: 41%;
    top: 110%;
}
#img-3{
    left: 68%;
    top: 110%;
    transform: rotate(-5deg);
}

#lupo-pg{
    top: 30%;
    position: absolute;
    font-family:bebas neue;
    color:#cecece;
    letter-spacing: 5vw;
    font-size: 53vw;
    margin-left: 2.5vw;
    transition: all 0.8s ease ;
}
#mundi{
    position: absolute;
    height: 20vw;
    fill: #d6d6d6;
    transform: rotate(-5deg);
    top: 82%;
    left: 60%;
}
#starsKaDibba{
    position: absolute;
    top: 37%;
    left: 25%;
    height: 70vh;
    width: 60vw;
    position: absolute;
    /* background-color: violet; */
}
.svgg{
    position: absolute;
    opacity: 1;
    height: 8vw;
}
#svgg-l{
    top: 40%;
    transform: rotate(-15deg);
}
#svgg-r{
    top: 50%;
    left: 80%;
    transform: rotate(-5deg);
}
#svgg-t{
    z-index: 999;
    left: 35%;
    transform: rotate(15deg);
}
#svgg-b{
    top: 80%;
    left: 35%;
    transform: rotate(5deg);
}
.skd-w{
    position: absolute;
    z-index: 999;
    color: #d6d6d6;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: .1vw;
}
#starsKaDibba h1{
    top: 43%;
    left: 5%;
    transform: rotate(-15deg);
}
#starsKaDibba h2{
    top: 54%;
    left: 88%;
    transform: rotate(-5deg);
}
#starsKaDibba h3{
    left: 42%;
    top: 4%;
    transform: rotate(15deg);
}
#starsKaDibba h4{
    top: 88%;
    left: 43%;
    transform: rotate(5deg);
}
#footer-slider{
    position: absolute;
    top: 94%;
    height: 10vh;
    width: 100%;display: flex;
    white-space: nowrap;
    /* background-color: tomato; */
    transition: opacity ease 1s;
    overflow: hidden;
}
#footer-slider h3{
    color: #d6d6d6;
    font-size: 1.4vw;
    margin-left: 2vw;
    text-align: center;
    font-weight: 400;
    letter-spacing: .1vw;
    animation-name: footer;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-delay: 1.2s;
}

@keyframes footer{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* ------------------------Responsive-------------------------------- */
@media(max-width:500px) {
    
    #main{
        background-color: aliceblue;
        font-family:  title;
        color: #d11f1f;
        position: relative;
        overflow: hidden;
    }
    #nav_slider_responsive{
        top: 100%;
        opacity: 0;
        height: 101%;
        z-index: 99;
        background-color: #d11f1f;
        display: flex;
        flex-direction: column;
        padding: 12vw 1vw;
        align-items: center;
        transition: all ease .8s;
    }
    #nav_slider_responsive h1{
        position: absolute;
        font-size: 17vw;
        text-align: center;
        font-family:title;
        color: #eaeaea;
        font-weight: 100;
        margin-top: 2vw;
        /* padding: 2vw 0vw; */
    }
    #nav_slider_responsive h4{
        position: absolute;
        font-size: 8vw;
        text-align: center;
        font-family:title;
        color: #eaeaea;
        font-weight: 100;
    }
    #nav_slider_responsive :nth-child(1){
        top: 8%;
        
    }
    #nav_slider_responsive :nth-child(2){
        top: 18%;
        
    }
    #nav_slider_responsive :nth-child(3){
        top: 28%;
        
    }
    #nav_slider_responsive :nth-child(4){
        top: 42%;
        
    }
    #nav_slider_responsive :nth-child(5){
        top: 48%;
        
    }
    #nav_slider_responsive :nth-child(6){
        top: 54%;
        
    }
    #nav_slider_responsive :nth-child(7){
        top: 61%;
        
    }
    #nav_slider_responsive :nth-child(8){
        top: 68%;
        
    }#nav_slider_responsive :nth-child(9){
        top: 80%;
        
    }
    #nav{
        color: #d11f1f;
        font-family:  title;
        width: 100%;
        height: 20vh;
        position: fixed;
        z-index: 999999;
        /* background-color: #d6d6d6; */
        display: flex;
        justify-content: space-between;
        padding: 1vw 2vw;
        z-index: 99;
    }
    #nav #h6{
        opacity: 1;
        scale: 2;
        position: absolute;
        left: 75%;
        top: 22%;
        z-index: 99999;
    }
    #nav h5{
        text-align: center;
        font-size: 1.5vw;
        font-weight: 400;
        line-height: 1.5vw;
        opacity: 0;
    }
    #nav h3{
        text-align: center;
        font-size: 1.5vw;
        font-weight: 400;
        line-height: 1.5vw;
        opacity: 0;
    }
    
    #n2 {
        /* background-color: yellowgreen; */
        width: 10%;
        
    }
    #n2 svg{
        position: absolute;
        opacity: 1;
        scale: .8;
        left: 14%;
        z-index: 99999;
    }
    #lupo h1{
        font-family:bebas neue;
        color:black;
        letter-spacing: .5vw;
        font-size: 3vw;
        /* font-weight: 900; */
        /* margin-left: .3vw; */
        /* background-color: red; */
        opacity: 0;
    }
    /* -----page1----------- */
    #page1{
        position: relative;
        height: 80vh;
        width: 100%;
        background-color: #d6d6d6;
    }
    #page1 h1{
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0%;
        font-size: 24vw;
        font-weight: 400;
        font-style: italic;
        line-height: 20vw;
        text-align: center;
        transform: rotate(-5deg);
    }
    #page1 svg{
        position: absolute;
        opacity: .8;
        height: 29vw;
        scale: 1.5;
    }
    #page1 svg:nth-child(2){
        top: 60%;
        left: 70%;
        height: 32vw;
        transform: rotate(3deg);
    }
    #page1 svg:nth-child(3){
        top: 73%;
        left: -13%;
        height: 15vw;
        z-index: 9;
        /* transform: rotate(-13deg); */
    }
    #page1 p{
        position: absolute;
        font-family:  content;
        opacity: .7;
        font-size: 3vw;
        left: 15%;
        text-align: center;
        font-weight: 100;
        color: black;
        top: 90%;
        list-style: -1vw;
    }
    /* ------------------page2----------------------- */
    #page2{
        position: relative;
        height: 70vh;
        width: 100%;
        background-color: #d6d6d6;
    }
    .img-box{
        position: absolute;
        height: 45vh;
        width: 31vw;
        border: .6vw solid #ffffff;
        overflow: hidden;
        display: flex;
        opacity: 0;
    }
    .img-box>img{
        object-fit: cover;
    }
    #slideUp{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: blue; */
        top:-50%;
        opacity: 0;
        z-index: 9;
    }
    #breads-up{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: rgb(0, 221, 255); */
        /* opacity: 0; */
        z-index: 9;
        transition: all ease .8s;
    }
    #paws-up{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: rgb(0, 221, 255); */
        /* opacity: 0; */
        transition: all ease .8s;
    }
    #pz-up{
        position: absolute;
        height: 50vh;
        width: 100%;
        transition: all ease .8s;
        /* background-color: rgb(0, 221, 255); */
        /* opacity: 0; */
        z-index: 9;
    }
    .up-l{
        top: -22%;
        left: -1;
        transform: rotate(-11deg);
        opacity: 1;
    }
    #paw1{
        transform: rotate(8deg);
    }
    #paw2{
        transform: rotate(-8deg);
    }
    #paw3{
        top:-20%;
        left: 68.5%;
        transform: rotate(4deg);
    }
    .up-b{
        top:-35%;
        left: 35%;
        opacity: 1;
        transform: rotate(11deg);
    }
    .up-r{
        top:-22%;
        left: 70%;
        opacity: 1;
        transform: rotate(11deg);
    }
    #slideDown{
        position: absolute;
        height: 50vh;
        top:100%;
        width: 100%;
        z-index: 9;
        /* background-color: rgb(255, 0, 255); */
        opacity: 0;
    }
    #breads-down{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: rgb(255, 0, 0); */
        /* opacity: 0; */
        transition: all ease .8s;
    }
    #paw-down{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: rgb(0, 255, 195); */
        /* opacity: 0; */
        transition: all ease .8s;
    }
    #paw4{
        transform: rotate(-5deg);
    }
    #paw5{
        transform: rotate(-19deg);
    }
    #paw6{
        transform: rotate(21deg);
    }
    #pz-down{
        position: absolute;
        height: 50vh;
        width: 100%;
        /* background-color: rgb(251, 255, 0); */
        /* opacity: 0; */
        transition: all ease .8s;
    }
    .down-l{
        top: 26%;
        left: -1;
        transform: rotate(5deg);
        opacity: 1;
    }
    .down-b{
        top: 43%;
        left: 35%;
        transform: rotate(-5deg);
        opacity: 1;
    }
    .down-r{
        top: 25%;
        left: 71%;
        transform: rotate(5deg);
        opacity: 1;
    }
    #page2 h4{
        position: absolute;
        font-size: 6vw;
        font-weight: 400;
        top: 10%;
        left: 40%;
    }
    #page2 .txt{
        width: 100%;
        position: absolute;
        font-size: 15vw;
        font-weight: 100;
        text-align: center;
        letter-spacing: .9vw;
        cursor: pointer;
        /* -webkit-text-stroke: 2px #d11f1f; */
        left: 2%;
    }
    #page2 h1{
        top:15%;
        left: 31%;
        -webkit-text-stroke: 1.5px #d11f1f;
    }
    #page2 h2{
        top:28%;
        left: 35%;
        -webkit-text-stroke: 1.5px #d11f1f;
    }
    #page2 h3{
        top:41%;
        left: 36%;
        -webkit-text-stroke: 1.5px #d11f1f;
    }
    
    
    
    
    
    #page2 svg{
        position: absolute;
        opacity: .8;
        height: 30vw;
    }
    #sv1{
        top: 42%;
        left:86%;
        transform: rotate(-13deg);
        scale: 1.8;
    }
    #sv2{
        top: 42%;
        left:-7%;
        transform: scaleX(-1);
        scale: 1.8;
    }
    #sv3{
        top: 70%;
        left:22%;
        scale: 1.0001;
        transform: rotate(-5deg);
        opacity: 1;
    }
    #page2 h5{
        color: #d6d6d6;
        position: absolute;
        top: 75.5%;
        left: 35%;
        font-size: 8vw;
        font-weight: 400;
        font-style: italic;
        transform: rotate(-5deg);
    }
    /* --------------------page3---------------------------------- */
    #page3{
        position: relative;
        height: 100vh;
        width: 100%;
        background-color: #d6d6d6;
    }
    #page3 h1{
        position: absolute;
        font-size: 19vw;
        width: 100%;
        font-weight: 400;
        text-align: center;
        line-height: 18vw;
        top: 20%;
        left: 1%;
    }
    #page3 p{
        position: absolute;
        font-family:  content;
        opacity: .7;
        font-size: 3.5vw;
        width: 80%;
        left: 10%;
        text-align: center;
        font-weight: 100;
        color: black;
        top: 43%;
        line-height: 5vw;
        list-style: -1vw;
        text-transform: uppercase;
    }
    #page3 :nth-child(4){
        /* background-color: blue; */
        top: 57%;
    }
    #skel{
        position: absolute;
        height: 35vh;
        opacity: .8;
        transform: scaleX(-1);
        top: -8%;
        left: 18%;
        scale: .6;
    }
    #cheers{
        height: 12vh;
        position: absolute;
        scale: .5;
        left: -15%;
    }
    #svg2pg2{
        position: absolute;
        top: 62%;
        left:2%;
        scale: .4;
        transform: rotate(-5deg);
        opacity: .9;
    }
    #page3 h5{
        color: #cecece;
        position: absolute;
        top: 72.5%;
        left: 40%;
        font-size: 5vw;
        text-align: center;
        font-weight: 400;
        font-style: italic;
        transform: rotate(-5deg);
    }
    #cheers{
        position: absolute;
        top: 75%;
        left:5%;
        height: 32vh;
        opacity: .8;
    }
    /* ------------------page4---------------------- */
    #page4{
        position: relative;
        height: 150vh;
        width: 100%;
        background-color: #d6d6d6;
    }
    #page4 h1{
        position: absolute;
        top: 1%;
        left: 0%;
        width: 100%;
        font-size: 22vw;
        font-weight: 400;
        font-style: italic;
        line-height: 22vw;
        text-align: center;
        transform: rotate(-5deg);
    }
    #page4 p{
        position: absolute;
        font-family:  content;
        opacity: .7;
        font-size: 4vw;
        left: 10%;
        text-align: center;
        font-weight: 100;
        color: black;
        top:20%;
        line-height: 4vw;
        list-style: -1vw;
        /* background-color: red; */
        width: 80%;
        text-transform: uppercase;
    }
    #page4 :nth-child(3){
        /* background-color: blue; */
        top: 30%;
    }
    #sv-l{
        position: absolute;
        top: 35%;
        left:-32%;
        scale: .35;
        transform: rotate(-15deg);
        opacity: .9;
    }
    #sv-r{
        position: absolute;
        top: 38%;
        border-radius: 2vw solid #d6d6d6;
        left:14%;
        scale: .5;
        transform: rotate(5deg);
        opacity: 1;
    }
    #svg-l-w{
        color: #d6d6d6;
        position: absolute;
        top: 46.7%;
        left: 21%;
        font-size: 6vw;
        font-weight: 400;
        font-style: italic;
        transform: rotate(-15deg);
    }
    #svg-r-w{
        color: #d6d6d6;
        position: absolute;
        top: 44.7%;
        left: 50.5%;
        font-size: 6vw;
        font-weight: 400;
        font-style: italic;
        transform: rotate(5deg);
    }
    #bus{
        position: absolute;
        height: 32vw;
        top: 55%;
        left: -8%;
        transform: rotate(-5deg);
    }
    #page4 h2{
        position: absolute;
        top: 60%;
        left: 30%;
        font-size: 20vw;
        font-weight: 400;
        line-height: 20vw;
        text-align: center;
    }
    #subscribe{
        position: absolute;
        height: 28vw;
        top: 84%;
        left: 27%;
        transform: rotate(-15deg);
    }
    #hand-posture{
        position: absolute;
        height: 13vw;
        top: 88%;
        z-index: 99;
        left: 31%;
        fill: #d6d6d6;
    }
    #subs-w{
        color: #cecece;
        position: absolute;
        top: 87%;
        line-height: 5vw;
        left: 45%;
        font-size: 5vw;
        text-align: center;
        font-weight: 400;
        font-style: italic;
        transform: rotate(-15deg);
    }
    #page4 .pp{
        position: absolute;
        z-index: 999;
        top: 76%;
        font-size: 4vw;
    }
    /* -----------------------page5---------------------------------- */
    #page5 {
        width: 100%;
        height: 125vh;
        position: relative;
        background-color: #de2020;
    }
    #last-eff{
        z-index: 99;
        position: absolute;
        width: 100%;
        height: 70vh;
        background-color: #d6d6d6;
        overflow: hidden;
    }
    #still-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 55vh;
        /* background-color: skyblue; */
        justify-content: space-between;
        padding: 0 4vw;
    }
    .w{
        /* background-color: yellow; */
        font-size: 28vw;
        font-weight: 100;
        line-height: 4vw;
        text-align: center;
        padding-bottom: 4vw;
        cursor: pointer;
        transition: all 0.5s ease ;
    }
    #b-h1{
        position: absolute;
        top: 6%;
        left: 12%;
    }
    #b-h2{
        position: absolute;
        top: 40%;
        left: 35%;
    }
    #b-h3{
        position: absolute;
        top: 67%;
        left: 25%;
    }
    #para{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding: 0 4vw;
        height: 100%;
        /* background-color: sandybrown; */
        top: 0%;
    }
    #last-eff p{
        position: absolute;
        font-family:  content;
        opacity: .7;
        left: 35%;
        text-align: center;
        font-weight: 100;
        font-size: 4vw;
        color: black;
        top:5%;
        line-height: 5vw;
        list-style: -1vw;
        width: 80%;
        text-transform: uppercase;
    }
    #para :nth-child(1){
        position: absolute;
        width: 80%;
        /* background-color: yellow; */
        top:20%;
        left: 10%;
    }
    #para :nth-child(2){
        padding-left: 14vw;
        top:55%;
        left: 5%;
    }
    #para :nth-child(3){
        top:83%;
        left: 15%;
    }
    
    
    .im{
        position: absolute;
    }
    #img-1{
        left: 7%;
        top: 110%;
        transform: rotate(5deg);
    }
    #img-2{
        left: 41%;
        top: 110%;
    }
    #img-3{
        left: 68%;
        top: 110%;
        transform: rotate(-5deg);
    }
    
    #lupo-pg{
        top: 70%;
        position: absolute;
        font-family:bebas neue;
        color:#cecece;
        letter-spacing: 5vw;
        font-size: 53vw;
        margin-left: 2.5vw;
        transition: all 0.5s ease ;
    }
    #mundi{
        position: absolute;
        height: 40vw;
        fill: #d6d6d6;
        transform: rotate(-5deg);
        top: 82%;
        left: 60%;
    }
    #starsKaDibba{
        position: absolute;
        top: 37%;
        left: 25%;
        height: 70vh;
        width: 60vw;
        position: absolute;
        /* background-color: violet; */
    }
    .svgg{
        position: absolute;
        opacity: 1;
        height: 18vw;
    }
    #svgg-l{
        top: 37%;
        left: -22%;
        transform: rotate(-15deg);
    }
    #svgg-r{
        top: 40%;
        left: 70%;
        transform: rotate(-5deg);
    }
    #svgg-t{
        z-index: 999;
        left: 70%;
        top: 25%;
        transform: rotate(15deg);
    }
    #svgg-b{
        top: 80%;
        left: 5%;
        transform: rotate(5deg);
    }
    .skd-w{
        position: absolute;
        z-index: 999;
        color: #d6d6d6;
        font-size:4vw;
        font-weight: 400;
        letter-spacing: .1vw;
    }
    #starsKaDibba h1{
        top: 37%;
        left: -10%;
        transform: rotate(-15deg);
    }
    #starsKaDibba h2{
        top:42%;
        left: 88%;
        transform: rotate(-5deg);
    }
    #starsKaDibba h3{
        left: 82%;
        top: 27%;
        transform: rotate(15deg);
    }
    #starsKaDibba h4{
        top: 85%;
        left: 20%;
        transform: rotate(5deg);
    }
    #footer-slider{
        position: absolute;
        top: 94%;
        height: 10vh;
        width: 100%;display: flex;
        white-space: nowrap;
        /* background-color: tomato; */
        transition: opacity ease 1s;
        overflow: hidden;
    }
    #footer-slider h3{
        color: #d6d6d6;
        font-size: 4vw;
        margin-left: 4vw;
        text-align: center;
        font-weight: 400;
        letter-spacing: .1vw;
        animation-name: footer;
        animation-duration: 12s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        display: inline-block;
        animation-delay: 1.2s;
    }
    
    @keyframes footer{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    
}
